#### 1. Importación de Librerias

In [1]:
import pandas as pd
import numpy as np

#### 2. Inicialización del notebook

In [2]:
# Carga de datos desde URL:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv')
# Tamaño del DataFrame:
print(f"Dimensiones del DataFrame: {df.shape}")
# Primeras 5 filas del DataFrame:
df.head()

Dimensiones del DataFrame: (150, 5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### 3. Describiendo el DataSet

##### 3.1 ¿Qué columnas tiene el dataset y que representan?

In [3]:
# Información general de la tabla
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

**Respuesta:** El dataset posee 5 columnas en total; 4 de ellas son de tipo decimal (float) que representan partes de la flor (Largo del Sepalo, Ancho del Sepalo, Largo del Petalo y Ancho del Petalo). Además, posee 1 columna del tipo objetc, que indica el tipo de flor (setosa, virginica, versicolor).

##### 3.2 ¿Existen valores nulos en el dataset?

In [10]:
# Detección de valores nulos
df.isna()

     sepal length  sepal width  petal length  petal width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

In [11]:
# Sumatoria de valores nulos
df.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

**Respuesta:** De acuerdo al análisis, no existen datos nulos en el dataset. Para esto se ha utilizado método `isna()`.

##### 3.3 Estadísticas de cada columna numérica

In [27]:
# Estadísticas de cada columna numérica utilizando método describe()
print(f"Estadísticas de la columna Sepal Length: \n{round(df["sepal length"].describe(),2)}")
print("--------------------------------------------------")
print(f"Estadísticas de la columna Sepal Width: \n{round(df["sepal width"].describe(),2)}")
print("--------------------------------------------------")
print(f"Estadísticas de la columna Petal Length: \n{round(df["petal length"].describe(),2)}")
print("--------------------------------------------------")
print(f"Estadísticas de la columna Petal Width: \n{round(df["petal width"].describe(),2)}")

Estadísticas de la columna Sepal Length:
count    150.00
mean       5.84
std        0.83
min        4.30
25%        5.10
50%        5.80
75%        6.40
max        7.90
Name: sepal length, dtype: float64
--------------------------------------------------
Estadísticas de la columna Sepal Width:
count    150.00
mean       3.05
std        0.43
min        2.00
25%        2.80
50%        3.00
75%        3.30
max        4.40
Name: sepal width, dtype: float64
--------------------------------------------------
Estadísticas de la columna Petal Length:
count    150.00
mean       3.76
std        1.76
min        1.00
25%        1.60
50%        4.35
75%        5.10
max        6.90
Name: petal length, dtype: float64
--------------------------------------------------
Estadísticas de la columna Petal Width:
count    150.00
mean       1.20
std        0.76
min        0.10
25%        0.30
50%        1.30
75%        1.80
max        2.50
Name: petal width, dtype: float64

##### 3.4 ¿Cuántas filas existen para cada flor?

In [28]:
# Calculo utilizando método value_counts()
df["class"].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

**Respuesta:** De acuerdo al análisis, existen 50 filas para cada tipo de flor (Setosa, Versicolor y Virginica), respectivamente.