#### 1. Importación de Librerias

In [1]:
import pandas as pd
import numpy as np

#### 2. Inicialización del notebook

In [2]:
# Carga de datos desde URL:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv')
# Tamaño del DataFrame:
print(f"Dimensiones del DataFrame: {df.shape}")
# Primeras 5 filas del DataFrame:
df.head()

Dimensiones del DataFrame: (150, 5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### 3. Describiendo el DataSet

##### 3.1 ¿Qué columnas tiene el dataset y que representan?

In [3]:
# Información general de la tabla
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

**Respuesta:** El dataset posee 5 columnas en total; 4 de ellas son de tipo decimal (float) que representan partes de la flor (Largo del Sepalo, Ancho del Sepalo, Largo del Petalo y Ancho del Petalo). Además, posee 1 columna del tipo objetc, que indica el tipo de flor (setosa, virginica, versicolor).